<!DOCTYPE html>
<html>
<head>
    <title>Fire Delight - Our Services</title>
</head>
<body>
    <h1>Our Services</h1>
    <ul>
        <li>Online Food Ordering</li>
        <li>Home Delivery</li>
        <li>Catering for Events</li>
    </ul>
</body>
</html>
