<!DOCTYPE html>
<html>
<head>
    <title>Fire Delight - Blog</title>
</head>
<body>
    <h1>Blog</h1>
        <!-- Blog Post 1 -->
    <div class="blog-post">
        <h2>Delicious Pasta Recipe</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet ipsum eget sapien elementum tempus. Sed lacinia interdum elit, eu fermentum augue volutpat eget.
        </p>
        <p>
            Etiam eget velit vitae nisi vestibulum consectetur. Duis eu nisi nec turpis consequat bibendum. Suspendisse potenti. Sed id dui neque. Fusce euismod mauris ut facilisis congue.
        </p>
    </div>

    <!-- Blog Post 2 -->
    <div class="blog-post">
        <h2>Top 10 Pizza Toppings</h2>
        <p>
            Fusce tristique, nunc in blandit consequat, nunc purus aliquam nisi, in cursus tellus nisi id enim. Integer mollis nunc eu lectus venenatis iaculis.
        </p>
        <p>
            Suspendisse ac eros in odio venenatis feugiat. In in varius odio. Praesent blandit tellus in erat hendrerit, vel luctus nisi vestibulum.
        </p>
    </div>
</body>
</html>